  
  /* @media screen and (max-width:1000px) */


  @media screen and (max-width:1000px){


    .header-text h1 {
        font-size: 60px;
    }

    .dance-img-sec img{
        width: 50%;
    }

    .dance-text h1 {
        font-size: 45px;
    }
  }




  /*  @media screen and (max-width:1000px) */

  
  @media screen and (max-width:850px){

    .header-text h1 {
        font-size: 45px;
    }



    .cards {
        width: 257px;
        height: 420px;
    }


    .cards-2{
        /* width: 320px; */
        width: 100%;
        
    }


    .cards-2 img {
        width: 50%;
        margin: 35px 70px;
    }


    .dance-text h1{
font-size: 35px;
    }
    
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* @media screen and (max-width:700px) */



  @media screen and (max-width:700px) {

      nav ul {
          display: none;
      }

      .bars {
          display: flex;
          transition: 2s ease;
          transform: rotate(180deg);
      }


      .showdata {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          flex-direction: column;
          background: rgba(48, 48, 48, 0.822);
          position: inherit;
          top: 80px;
          width: 100%;
          height: 300px;
          gap: 20px;
          margin: 0 auto;
      }

      .heading-text h1 {
          font-size: 40px;
      }

      .back-img {
          display: flex;
          width: 100%;
          text-align: center;
      }

      .dance-img-sec P {
          display: flex;
          flex-direction: column-reverse;
      }


      .dance-img-sec {
          display: flex;
          flex-direction: column-reverse;
      }

      .dance-img-sec img {
          width: 100%;
         

      }

      .dance-text {
          margin-bottom: 15px;
          text-align: center;
      }

      .dance-text p {
          text-align: center;
      }

      .dance-text a {
          width: 200px;
          height: 40px;
          margin: 15px auto;
      }


      .sec-4-text {
          position: absolute;
          top: 40%;
          left: 28%;
      }



      .contact input {
          width: 50%;
      }


      .sec-3-trafic {
          display: flex;
          flex-direction: column;
      }

  }




  /* @media screen and (max-width:400px) */

  @media screen and (max-width:400px) {

      .header-text {
          text-align: center;
      }


      .header-text h1 {
          font-size: 45px;
      }

      .header-text a {
          width: 180px;
          height: 40px;
          padding: 8px 20px;
      }

      .cards {
        height: 450px;
      }



      .show{
        display: flex;
        justify-content: center;
        align-items: center;
        
      }

  }




  